extends ../layout/index

block formulario
    section(class="successCreated")
        h1.successCreated__h1 ¡Felicitaciones!
        h2.successCreated__h2= msg
        a(href="registerCustomer" class="successCreated__a") Volver atras